<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882169408481-7itdk2qp1lc13irqmd8ccmtgaj7fkc21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882169408481-7itdk2qp1lc13irqmd8ccmtgaj7fkc21</string>
	<key>API_KEY</key>
	<string>AIzaSyAaIwoqnIGJqhY0SqBolA_P46kF6Zquho8</string>
	<key>GCM_SENDER_ID</key>
	<string>882169408481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendedores</string>
	<key>PROJECT_ID</key>
	<string>fundamentos-movil</string>
	<key>STORAGE_BUCKET</key>
	<string>fundamentos-movil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882169408481:ios:eeee21d461b044b80400a0</string>
</dict>
</plist>